* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.dragon-section {
  display: flex;
  margin: 20px;
  align-items: center;
  gap: 20px;
}

.dragon-picture {
  max-width: 190px;
  height: 170px;
  object-fit: cover;
}

.dragon-writeup {
  padding-top: 5px;
  padding-bottom: 5px;
}

.reserve-btn {
  width: 120px;
  height: auto;
  border-radius: 5px;
  background-color: #1f6fd7;
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.unreserve {
  background-color: gray;
}
